<div class="main-content">
    <div class="container-fluid">
        <!--     <div class="row">
                    <div class="col-md-11">
                        <div class="card">
                            <div class="card-header" data-background-color="green">
                                <h4 class="title">New Post</h4>
                                <p class="category">Share here</p>
                            </div>
                            <div class="card-content">
                                <form>
                                        <div class = "row">
                                                <div class = "input-field col s12">
                                                   <label for = "comments">Comments</label> 
                                                   <textarea class="col-md-12" ></textarea>
                                                </div>
                                             </div>
                                             <button type="submit" class="btn btn-success pull-right">Hit IT</button>
                                             <div class="clearfix"></div>       
                                </form>
                               </div>
                        </div>
                    </div>
                
                </div> -->
         <!--        <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">LandLord</a></li>
                      <li><a href="#">Producer</a></li>
                      <li><a href="#">Consumer</a></li>
                      <li><a href="#">Service Provider</a></li>
                    </ul>
                  </div> -->
        <div class="row">
            <div class="col-md-11">
                
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Find Your Matches</h4>
                  <!--       <p class="category">Want to know what others shared !!! </p> -->
                    </div>
                    <div class="card-content">
                        <div id="typography">
                           <!--  <div class="title">
                                <h2>Typography</h2>
                            </div> -->
                            <div class="row">
                          <!--       <div class="tim-typo">
                                    <h1><span class="tim-note">Header 1</span>The Life of Material Dashboard </h1>
                                </div>
                                <div class="tim-typo">
                                    <h2><span class="tim-note">Header 2</span>The life of Material Dashboard </h2>
                                </div>
                                <div class="tim-typo">
                                    <h3><span class="tim-note">Header 3</span>The life of Material Dashboard </h3>
                                </div>
                                <div class="tim-typo">
                                    <h4><span class="tim-note">Header 4</span>The life of Material Dashboard </h4>
                                </div>
                                <div class="tim-typo">
                                    <h5><span class="tim-note">Header 5</span>The life of Material Dashboard </h5>
                                </div>
                                <div class="tim-typo">
                                    <h6><span class="tim-note">Header 6</span>The life of Material Dashboard </h6>
                                </div> --><!-- 
                                <div class="tim-typo">
                                    <p><span class="tim-note">Person1 <i class="material-icons"  (click)="showNotification('top','center')" >thumb_up</i> </span>
                                        I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                                </div>
                                <div class="tim-typo">
                                        <p><span class="tim-note">Person2  <i class="material-icons"  (click)="showNotification('top','center')" >thumb_up</i></span>
                                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                                </div>
                                <div class="tim-typo">
                                        <p><span class="tim-note">Person3 <i class="material-icons"  (click)="showNotification('top','center')" >thumb_up</i></span>
                                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                                </div> 
                                <div class="tim-typo">
                                        <p><span class="tim-note">Person4 <i class="material-icons"  (click)="showNotification('top','center')" >thumb_up</i></span>
                                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                                </div>
                                <div class="tim-typo">
                                        <p><span class="tim-note">Person5 <i class="material-icons"  (click)="showNotification('top','center')" >thumb_up</i></span>
                                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                                </div>   -->
    
                               
    
                                <!-- <div class="tim-typo">
                                    <span class="tim-note">Quote</span>
                                    <blockquote>
                                     <p>
                                     I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
                                     </p>
                                     <small>
                                     Kanye West, Musician
                                     </small>
                                    </blockquote>
                                </div>
    
                                <div class="tim-typo">
                                    <span class="tim-note">Muted Text</span>
                                    <p class="text-muted">
                                    I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
                                    </p>
                                </div>
                                <div class="tim-typo">
                                    <span class="tim-note">Primary Text</span>
                                    <p class="text-primary">
                                    I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...                        </p>
                                </div>
                                <div class="tim-typo">
                                    <span class="tim-note">Info Text</span>
                                    <p class="text-info">
                                    I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...                        </p>
                                </div>
                                <div class="tim-typo">
                                    <span class="tim-note">Success Text</span>
                                    <p class="text-success">
                                    I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...                        </p>
                                </div>
                                <div class="tim-typo">
                                    <span class="tim-note">Warning Text</span>
                                    <p class="text-warning">
                                    I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
                                    </p>
                                </div>
                                <div class="tim-typo">
                                    <span class="tim-note">Danger Text</span>
                                    <p class="text-danger">
                                    I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...                        </p>
                                </div>
                                <div class="tim-typo">
                                    <h2><span class="tim-note">Small Tag</span>
                                        Header with small subtitle <br>
                                        <small>Use "small" tag for the headers</small>
                                    </h2>
                                </div> -->
                                <agm-map [latitude]="lat" [longitude]="lng" icon="" [zoom]="zoom" >
                                    <agm-marker 
                                    *ngFor="let m of markers; let i = index"
                                    [latitude]="m.lat"
                                    [longitude]="m.lng"
                                    [iconUrl]="m.icon">
                                    <agm-info-window [disableAutoPan]="false" #infoWindow>
                                        <strong>Hello,<br>I am {{m.username}}. &nbsp; {{m.posttitle}}. I am located in &nbsp; 
                                            {{m.loc_add}},{{m.loc_city}},{{m.pincode}} <br><br>
                                            <i class="material-icons"
                                    style="color:grey" (click)="sendContactInfo('top','center')">phone</i>&nbsp; &nbsp; &nbsp; &nbsp;
                                <i class="material-icons" style="color:grey" data-toggle="modal" data-target="#mailModal">email</i>
 
                                        </strong></agm-info-window>
                                  </agm-marker>
                                  </agm-map>
                          
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
        <!-- Mail Modal -->
        <div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailmodal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mailmodal">Email</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="mailform" id="mailform">
    
                                <div class="form-group">
                                    <label for="MAIL_CONTENT">MAIL CONTENT</label>
                                    <textarea autosize class="form-control" id="COMPANY_NAME" formControlName="MAIL_CONTENT"></textarea>
                                </div>
    
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Send</button>
    
                        </div>
                    </div>
                </div>
            </div>