<div class="main-content">
<div class="container-fluid">
    <!--     <div class="row">
                <div class="col-md-11">
                    <div class="card">
                        <div class="card-header" data-background-color="green">
                            <h4 class="title">New Post</h4>
                            <p class="category">Share here</p>
                        </div>
                        <div class="card-content">
                            <form>
                                    <div class = "row">
                                            <div class = "input-field col s12">
                                               <label for = "comments">Comments</label> 
                                               <textarea class="col-md-12" ></textarea>
                                            </div>
                                         </div>
                                         <button type="submit" class="btn btn-success pull-right">Hit IT</button>
                                         <div class="clearfix"></div>       
                            </form>
                           </div>
                    </div>
                </div>
            
            </div> -->
     <!--        <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">LandLord</a></li>
                  <li><a href="#">Producer</a></li>
                  <li><a href="#">Consumer</a></li>
                  <li><a href="#">Service Provider</a></li>
                </ul>
              </div> -->
    <div class="row">
        <div class="col-md-11">
            
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <h4 class="title">Did You Know ?</h4>
              <!--       <p class="category">Want to know what others shared !!! </p> -->
                </div>
                <div class="card-content">
                    <div id="typography">
                       <!--  <div class="title">
                            <h2>Typography</h2>
                        </div> -->
                        <div class="row">
                      <!--       <div class="tim-typo">
                                <h1><span class="tim-note">Header 1</span>The Life of Material Dashboard </h1>
                            </div>
                            <div class="tim-typo">
                                <h2><span class="tim-note">Header 2</span>The life of Material Dashboard </h2>
                            </div>
                            <div class="tim-typo">
                                <h3><span class="tim-note">Header 3</span>The life of Material Dashboard </h3>
                            </div>
                            <div class="tim-typo">
                                <h4><span class="tim-note">Header 4</span>The life of Material Dashboard </h4>
                            </div>
                            <div class="tim-typo">
                                <h5><span class="tim-note">Header 5</span>The life of Material Dashboard </h5>
                            </div>
                            <div class="tim-typo">
                                <h6><span class="tim-note">Header 6</span>The life of Material Dashboard </h6>
                            </div> --><!-- 
                            <div class="tim-typo">
                                <p><span class="tim-note">Person1 <i class="material-icons"  (click)="showNotification('top','center')" >thumb_up</i> </span>
                                    I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                            </div>
                            <div class="tim-typo">
                                    <p><span class="tim-note">Person2  <i class="material-icons"  (click)="showNotification('top','center')" >thumb_up</i></span>
                                        I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                            </div>
                            <div class="tim-typo">
                                    <p><span class="tim-note">Person3 <i class="material-icons"  (click)="showNotification('top','center')" >thumb_up</i></span>
                                        I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                            </div> 
                            <div class="tim-typo">
                                    <p><span class="tim-note">Person4 <i class="material-icons"  (click)="showNotification('top','center')" >thumb_up</i></span>
                                        I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                            </div>
                            <div class="tim-typo">
                                    <p><span class="tim-note">Person5 <i class="material-icons"  (click)="showNotification('top','center')" >thumb_up</i></span>
                                        I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                            </div>   -->

                            <div class="tim-note" style="padding: 20px;">
                                <p> &#9658; Sprinkle wood ash as an organic fertilizer if your soil is too acidic.</p>
                                <br>
                                <p> &#9658;Use plant leftover bits as a mulch to to eliminate weeds and promote micro-organism functions.</p>
                                <br>
                                <p> &#9658; Use animal waste as a manure for coffee to improve yield.</p>
                                <br>
                                <p> &#9658;Use ash in your farm after the first ploughing to boost the soil PH and on crops as an organic pesticide. </p>
                                <br>
                                <p> &#9658; You can practice crop rotation of tomatoes with cabbages, or potatoes.</p>
                                <br>
                                <p> &#9658; Grafting improves fruit trees productivity and helps to grows large fruit. Farmers can earn more from their fruit trees, prevent diseases, and even reduce the growing period through grafting. </p>
                                <br>
                                <p> &#9658; If u practice skip planting i.e this year you do corn, the next year you do potatoes your yield will get better and better every time you do a 2nd time your previous crop.</p>
                                <br>
                                <p> &#9658; Organic soils; six golden rules 1 – feed the soil 2 – Tread carefully 3 – dig only when needed 4 – keep soil surface covered 5 – do not over fertilize 6 – check pH before liming</p>
                                <br>
                                <p> &#9658; Different cultural practices like tillage, flooding, mulching can be used to manage the weeds. Besides, biological method can be used to manage the loss due to weeds.</p>
                                <br>
                                

                            </div>

                            <!-- <div class="tim-typo">
                                <span class="tim-note">Quote</span>
                                <blockquote>
                                 <p>
                                 I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
                                 </p>
                                 <small>
                                 Kanye West, Musician
                                 </small>
                                </blockquote>
                            </div>

                            <div class="tim-typo">
                                <span class="tim-note">Muted Text</span>
                                <p class="text-muted">
                                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
                                </p>
                            </div>
                            <div class="tim-typo">
                                <span class="tim-note">Primary Text</span>
                                <p class="text-primary">
                                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...                        </p>
                            </div>
                            <div class="tim-typo">
                                <span class="tim-note">Info Text</span>
                                <p class="text-info">
                                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...                        </p>
                            </div>
                            <div class="tim-typo">
                                <span class="tim-note">Success Text</span>
                                <p class="text-success">
                                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...                        </p>
                            </div>
                            <div class="tim-typo">
                                <span class="tim-note">Warning Text</span>
                                <p class="text-warning">
                                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
                                </p>
                            </div>
                            <div class="tim-typo">
                                <span class="tim-note">Danger Text</span>
                                <p class="text-danger">
                                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...                        </p>
                            </div>
                            <div class="tim-typo">
                                <h2><span class="tim-note">Small Tag</span>
                                    Header with small subtitle <br>
                                    <small>Use "small" tag for the headers</small>
                                </h2>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
